:root {
    --main-width: 1920px;
    --main-height: calc(var(--main-width) * 0.5625);
    --hp-bar-container-horizontal-alignment: 550px;
    --hp-text-horizontal-alignemnt: 25px;
    --sidebar-background: #45383F;
    --sidebar-width: 250px;
    --text-color: #E7E1DB;
    --font-family: "Silentia";
}

@font-face {
    font-family: "Silentia";
    src: url("../fonts/Silentina.ttf");
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}

/* Main Page */
.main {
    position: absolute;
    background-image: url("../static/background.png");
    top: 0;
    left: 0;
    width: var(--main-width);
    height: var(--main-height);
    background-size: cover;
}

/* HP Bar Container */
.hp_bar_container {
    position: absolute;
    top: 70px;
    width: 315px;
}
.hp_bar_container_left { left: var(--hp-bar-container-horizontal-alignment); }
.hp_bar_container_right { right: var(--hp-bar-container-horizontal-alignment); }
/* HP Bar Image */
.hp_bar_image {
    position: absolute;
    width: 315px;
}
/* HP Bar Health */
.hp_bar_health {
    position: absolute;
    width: 284px;
    height: 11.5px;
    background-color: #1F191C;
    top: 17px;
    left: 15px;
}
/* HP Bar Text */
.hp_text {
    position: absolute;
    top: 40px;
    font-weight: 700;
    font-size: 1.25em;
}
.hp_text_left { left: var(--hp-text-horizontal-alignemnt); }
.hp_text_right { right: var(--hp-text-horizontal-alignemnt); }
/* HP Number */
.hp_number, .hp_negative_number { font-variant-numeric: tabular-nums; }

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: var(--main-width);
    width: var(--sidebar-width);
    height: var(--main-height);
    background-color: var(--sidebar-background);
}
/* Sidebar Section */
.sidebar_section {
    border-bottom: 4px solid var(--text-color);
    padding-bottom: 30px;
}
/* Helper Classes */
.full_width {
    width: 220px;
    margin-left: 15px;
}
/* Sidebar Section Title */
.sidebar_section h1 {
    width: inherit;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}
/* Sidebar Section Select */
.sidebar_section select {
    width: var(--sidebar-width);
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
    border: none;
    margin-bottom: 20px;
    font-family: var(--font-family);
}
.sidebar_section select::-webkit-scrollbar { display: none; }
.sidebar_section select option {
    padding: 5px 0;
}
/* Sidebar Section Button */
.sidebar_section button {
    height: 50px;
    font-family: var(--font-family);
    font-size: 1.25em;
    color: var(--text-color);
    background: transparent;
    border: 3px solid var(--text-color);
    border-radius: 20px;
}
.sidebar_section button:active {
    background: var(--text-color);
    color: var(--sidebar-background);
}
/* Set HP */
.set_hp_player {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 5px;
}
.set_hp_value {
    margin-bottom: 30px;
    font-size: 1.25em;
    font-family: var(--font-family);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
    text-align: center;
}
.set_hp_value::-webkit-outer-spin-button,
.set_hp_value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Sidebar Section Active */
.sidebar_section button.on { 
    background-color: rgb(70, 180, 70);
    color: var(--sidebar-background);
}
.sidebar_section button.off { 
    background-color: rgb(180, 70, 70);
    color: var(--text-color);
}
.sidebar_section button.on:active{ 
    background: var(--text-color);
    color: var(--sidebar-background);
}
.sidebar_section button.off:active { 
    background: var(--text-color);
    color: var(--sidebar-background);
}